body{
    font-family:"Google Sans", sans-serif;
}
.navbar{
    height: 955px;
    width: fit-content;    
    background-color: rgb(243, 246, 252);
}
 nav li i{
    color: black;
    height: 32px;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    position: fixed;
    font-size: 12px;
  }
nav  li{
    margin: 20px 10px;
  }
 nav li a {
    display: block;
    text-align: center;
    padding: 5px;
  }
  
  /* Change the link color on hover */
 nav li i:hover {
    background-color: rgb(170, 170, 170);
    border-radius: 50px;
    width: 50px;
  }
  main{
    max-width: 90%;
    margin-left: 140px;
    margin-right: 0px;
  }
header{
    background-image: url("https://lh3.googleusercontent.com/2OrUzHCRSI-V46Z1qJBh90usG6OkKwCbXN80FbrjkWoQz4VfoJjNAoQHLHPQRZWH7dI_m5I1gi48h6xMJ5pK6kkdXmUnXPe4VqwvEdo4QeWRjLV9Oew=w2400-rj");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
  }
  h1{
    font-size: 88px;
    line-height: 96px;
    margin-bottom: 8px;
    font-weight: 600;
  }
  header p{
    font-size: 22px;
    text-align: center;
  }
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    padding: 1;
    background-color: #0b57d0;
    border-radius: 50px;
    height: 82px;
    width: 223.703px;
    text-align: center;
  }
  .item a{
    color: white;
    font-size: 24px;
    padding: 25px 48px;
}
.noidung{
    max-width: 1200px;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}
.item1{
    width: 32%;
    background-color: #f8fafd;
    border-radius: 24px;
}
.item2{
    width: 49%;
    background-color: #f8fafd;
    border-radius: 24px;
}
.item1 h3, .item1 p, .item2 h3, .item2 p{
    margin: 24px;
}
h2{
    margin: 24px;
    margin-top: 80px;
    margin-bottom: 24px;
    font-size: 45px;
    font-weight: 500;
}
img{
    width: 99.99%;
    height: 200px;
    border-radius: 24px;
}
h3{
    font-size: 24px;
    font-weight: 475;
}
p{
    font-size: 16px;
    text-align: left;
}
.item1:hover,.item2:hover{
    background-color: #c2e7ff;
    border-radius: 24px;
    height: 30%;
}
.footer{
    margin-top: 120px;
    padding: 64px 0;
}
.item3{
    width: 40%;
}
.item3 i{
    font-size: 40px;
}
.item3 p{
    margin-top: 24px;
    margin-bottom: 16px;
    margin-right: 64px;
}
.item4{
    row-gap: 20px;
    width: 20%;
}
.footer ul li{
    list-style-type: none;
    padding-top: 24px;
}
.item4 ul li{
    font-size: 14px;
}
.item4 a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(54, 142, 201);
    line-height: 24px;
    font-weight: 500;
}
.item4 a:hover{
    text-decoration: underline;
    color: #353535;
}
.gg ul li{
    display: inline-block;
    padding: 20px;
    font-weight: 500;
}
.gg a{
    text-decoration: none;
    color: black;
}
.gg a:hover{
    text-decoration: underline;
}
.google{
    font-size: 20px;
    font-weight: bold;
}
.google a:hover{
    text-decoration: none;
}