*{
  box-sizing: border-box;
  font-family: baomoi,AvenirNextCondensed-Medium,HelveticaNeue-CondensedBold,"sans-serif-condensed",Calibri,Corbel,Liberation Sans Narrow,Lohit Odia,sans-serif;
}
.wrapper{
  max-width: 970px;
  margin: auto;
  display: flex;
}
nav {
  top: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #2fa1b3;
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
.nav-list{
  padding-left: 0;
  margin-top: 0;
}
li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  text-align: center;
}
.item1 {
  border-left: 1px solid rgb(161, 161, 161);
  padding: 10px 15px;
  margin: 0;
}

.item1:hover {
  background-color: #29808d;
}
.item2 a {
  border: 1px solid rgb(161, 161, 161);
  padding: 2px;
  border-radius: 30px;
}

.item2 a:hover {
  background-color: #29808d;
}
a{
  text-decoration: none;
  color: #fff;
}
main a:hover{
  color: #17a2b8;
}
main{
  padding-top: 15px;
}
main a{
  color: black;
  display: block;
  margin-top: 0;
}
.leftcolumn {   
  float: left;
  width: 625px;
}
.first{
  justify-content: space-between;
  font-size: 32px;
  font-weight: 500;
}
.second{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 345px;
  padding-left: 15px;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image-container1{
  width: 625px;
  height: 350.891px;
}
.image-container2{
  width: 198px;
  height: 131.469px;
  margin-right: 15px;
}
.image-container3{
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 15px;
}
.bao{
  float: left;
  width: 200px;
}

.hover a {
  overflow: hidden;
  display: flex;
  }
  img{
    border-radius: 4px;
  }
  .hover img {
  height: 100%;
  width: 100%;
  transition: transform .7s,-webkit-transform .7s,-moz-transform .7s;
  cursor: pointer;
  object-fit: cover;
  }
  .hover img:hover {
  transform: scale(1.1);
  }
  hr{
    margin-top: 20px;
  }