* {
    padding: 0;
    margin: 0;
    top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: #21252b;
    height: 46px;
    font-size: 14px;
}
strong{
    color: #ccccd5;
}
.wrapper{
    max-width: 2000px;   
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    align-items: center;
}

.info{
    display: flex;
    height: 28px;
}
.info p{
    color: #b0bac2;
    padding: 0 7px;
}
a{
    text-decoration: none;
}
.info a{
    color: #0eb5b5;
}
.fa.fa-phone, .fa.fa-envelope{
    background-color: #0eb5b5;
    padding-top: 5px;
    width: 26px;
    border-radius: 3px;
    height: 20px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.fa.fa-phone, .fa.fa-envelope{
    color: white;
}
.about ul::before{
    content: "Follow Us:";
    color: #b0bac2;
    padding-right: 10px;
    border-right: 1px solid gray;
    padding: 14px;
    cursor: text;
}
.about i{
    color: #b0bac2;
    text-decoration: none;
}
.about li{
    width: 46px;
    height: 45px;
    border-right: 1px solid gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.twitter:hover {
    background-color: #1CA3DB;
}
.facebook:hover {
    background-color: #395793;
}
.dribbble:hover {
    background-color: #CE4B81;
}
.about li:hover i{
    color: white;
}
nav{
    height: 96px;
    align-items: center;
    color: #666e70;
}
.logo{
    display: flex;
}
.logo p{
    margin: 34px 10px;
}
.logo img{
    width: 95px;
    height: 96px;
    margin-right: 10px;
}
.navbar{
    height: 96px;
    align-items: center;
    display: flex;
}
.navbar li:hover .dropbtn a{
    color: #0eb5b5;
}

.navbar li{
    color: #666e70;
    height: 90px;
    padding-left: 20px;
    cursor: pointer; 
    display: flex;
    align-items: center;
    width: 90px;
}
.navbar li i{
    color: rgba(0,0,0,0.3);
}
.navbar li:hover::after{
    font-family: "FontAwesome";
    content: "\f0da";
    color: #0eb5b5;
    padding: 0 7px;

}
.navbar li:hover i{
    display: none;
}
  .dropdown-content {
    display: none;
    position: absolute;
    top:15%;
    background-color: #21252b;
    min-width: 160px;
    border-top: #0eb5b5 5px solid;
  }
  
  .dropdown-content a {
    color:  rgb(171, 179, 185);
    padding: 0 16px;
    padding-bottom: 10px;
    margin: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: rgb(53, 53, 53) 1px solid;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown li{
    border-bottom: #0eb5b5 5px solid;
  }
.dropdown-content a:hover span{
    color: #0eb5b5;   
}
  .dropbtn a {
    text-decoration: none;
  }
  .triangle a{
    position: relative;
  }
  .triangle a::before {
    content: "▶";
    position: absolute;
    display: block;
    right: -10px;
    top: 40%;
    transform: translateY(-50%);
    padding: 0 16px; 
    margin: 0 5px;
    color: rgb(171, 179, 185);
    font-size: 10px;
  }
  .menu{
    position: relative;
  }
  .right{
    display: none;
    position: absolute;
    left: 100%;
    background-color: #21252b;
    min-width: 250px;
  }
  .right a::before{
    content: "";
  }
  .menu:hover .right{
    display: block;
  }
.dropdown:hover .column{
    display: flex;
  } 
  .column div{
   border-left: rgb(61, 61, 61) 1px solid;  
  }
  .angle-right a{
    position: relative;
    border-bottom: #21252b 1px solid;
  }
  .angle-right a::before {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    display: block;
    left: -20px;
    top: 40%;
    font-size: 15px;
    transform: translateY(-50%);
    padding: 0 16px; 
    margin: 0 5px;
    color: rgb(171, 179, 185);
  }
  main{
    background-image: url("https://images.pexels.com/photos/172295/pexels-photo-172295.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}